body, html {
  margin: 0;
  background-color: #65bcd4;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: white;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 300px;
  width: 100%;
  background-color: #f0f0f0;
}

#data-list {
  position: absolute;
  height: 100%;
  width: 97px;
  background-color: white;

  overflow-x: hidden;
  overflow-y: scroll;
}

.data-list-row {
  font-family: sans-serif;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.data-list-row:hover {
  background-color: #f0f0f0;
}

.data-list-row-primary {
  float: left;
  color: #777;
}

.data-list-row-index {
  float: right;
  color: #aaa;
}

.hoverable-button {
  color: #65bcd4;
  cursor: pointer;
}

.hoverable-button:hover {
  color: #5196aa;
}
